.pagina {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.barra {
  position: fixed;
  top: 0;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}

.topo {
  height: 54px;
  width: 935px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin-top: 0;
  z-index: 3;
  /* background-color: palevioletred; */
  background-color: #ffffff;
}

.topo img {
  height: 29px;
  border-left: 1px solid #dbdbdb;
  padding-left: 10px;
  margin-top: 4px;
}
.topoMobile img {
  height: 29px;

  padding-left: 10px;
  margin-top: 4px;
}

.topo ion-icon {
  color: #000000;
  margin: 5px;
  /* width: 90px;
  height: 90px;
  background-color: blue; */
}

.barraPesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  /* especificações da caixa */
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  /* especificações da fonte */
  color: #979797;
  font-size: 12px;
  font-weight: 400;
}

.topoMobile {
  height: 54px;
  border: 1px solid #dbdbdb;
  display: flex;

  margin-top: 0;
  z-index: 3;
  display: none;
  background-color: #ffffff;
}
.conteudo {
  width: 935px;
  display: flex;
}
.conteudo1 {
  width: 614px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 54px;
  /* overflow: hidden; */

  /* determinei a largura no chutometro. Essa largura tem que passar pra 100% a partir de 935px  */
}
.feed {
  display: flex;
  flex-direction: column;
}

.storiesCaixa {
  width: 614px;
  height: 118px;
  margin-top: 34px;
  margin-bottom: 24px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  position: relative;
}
.storiesCaixa ion-icon {
  color: white;
  position: absolute;
  right: 6px;
  top: 46px;
  bottom: 46px;
  display: flex;
  align-items: center;
  z-index: 2;
  height: 26px;
  width: 26px;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}
.storiesCaixa p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.arcofoto {
  width: 66px;
  height: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: 16px;
  position: relative;
  /* padding top ight bottom left */
}
.arcoStories {
  width: 66px;
  height: 66px;
  /* position: relative; */
}
.fotoStories {
  width: 56px;
  height: 56px;
  border-radius: 28px; /*o border radius dá um crop circular na figura*/
  position: absolute;
  bottom: 16px;
  object-fit: cover;
}

.arcofoto p {
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  /* background-color: yellow; */
  margin-bottom: 60px;
}

.post header {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  /* background-color: palegreen; */
}

.post header div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post header p {
  font-weight: 500;
  font-size: 14px;
}
.post header img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: palevioletred;
  margin-right: 15px;
}

.post figure {
  height: 615px;
  width: 100%;
  /* background-color: aquamarine; */
}
.post figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post footer {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* background-color: turquoise; */
}
.post footer p {
  font-weight: 300;
  font-size: 14px;
}
.post footer div {
  /* background-color: antiquewhite; */
  margin-top: 10px;
}
.post footer div img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  /* background-color: palevioletred; */
}

.conteudo2 {
  width: 300px;
  height: 373px;
  /* background-color: burlywood; */
  /* margin-left: 30px; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* fixando a barra lateral */
  position: fixed;
  margin-left: 640px;
}
.conteudo2 article {
  display: flex;
}
.conteudo2 header {
  display: flex;
  height: 56px;
  align-items: center;
  /* margin-bottom: 24px; */
  /* background-color: grey; */
}
.conteudo2 header img {
  height: 56px;
  width: 56px;
  border-radius: 28px;
  overflow: hidden;
}
.legenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 14px;
}
.legenda2 {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 6px;
}
.sugestoes {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aquamarine; */
}
.conteudo2 section {
  height: 35px;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(103, 124, 194); */
}
.conteudo2 section img {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  overflow: hidden;
}

.sugestaoLink {
  color: #139ef2;
  font-size: 12px;
  font-weight: 500;
}

.conteudo2 main {
  /* inclui as sugestões */
  height: 300px;
  display: flex;
  flex-direction: column;
}

.conteudo2 footer {
  font-size: 11px;
  color: #c7c7c7;
}
.barraFinal {
  display: flex;
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* CONTROLES DE MIDIA E RESPONSIVIDADE */

@media (max-width: 935px) {
  .conteudo2 {
    display: none;
  }

  .conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* zoom desktop */
}

@media (max-width: 614px) {
  .conteudo2 {
    display: none;
  }
  .topo {
    display: none;
  }

  .pagina {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /* background-color: antiquewhite; */
  }

  .topoMobile {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    /* background-color: aqua; */
  }

  /*não dá certo botar ele só aqui dentro*/
  .barraFinal {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    z-index: 4;
  }
  .feed {
    width: 100%;
  }
  .storiesCaixa {
    width: 100%;
    margin: 0;
  }
  .storiesCaixa ion-icon {
    display: none;
  }

  .conteudo1 {
    width: 100%;
    display: flex;
  }
  .conteudo1 footer {
    height: auto;
  }

  /* mobile */
}
